# Hidden files
.DS_Store
.gitignore
.git
.env

# Dependencies
Pipfile
Pipfile.lock
node_modules

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose-dev.yml
test-docker.yml

# Nginx
/nginx
