-i https://pypi.org/simple
asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.5
django-rest-knox==3.6.0
django==2.1.5
djangorestframework==3.9.1
gunicorn==19.9.0
psycopg2-binary==2.7.7
pycparser==2.19
pyopenssl==19.0.0
pytz==2018.9
six==1.12.0
