-i https://pypi.org/simple/
cffi==1.14.0
cryptography==2.9.2
django-rest-knox==3.6.0
django==2.2.13
djangorestframework==3.9.1
gunicorn==19.9.0
psycopg2-binary==2.7.7
pycparser==2.20
pyopenssl==19.1.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
