<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121847457-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121847457-2');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Simple Stickies" />
    <meta name="description" content="Simple web application for making sticky notes." />
    <title>Simple Stickies</title>
    <link rel="shortcut icon" href="{% static "frontend/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "frontend/style.css" %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body class="has-navbar-fixed-top has-navbar-fixed-bottom">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static "frontend/bundle.js" %}"></script>
  </body>
</html>
