.board {
  position: relative;
  height: 450px;
  margin-bottom: $gap;
  overflow-y: hidden;

  .box {
    position: absolute;
    width: 240px;
    height: 240px;
    user-select: none;
  }

  .dragging {
    transform: translateY(-4px);
    box-shadow: $dragging-shadow;
  }
}
