.board {
  position: relative;
  height: 800px;
  margin-bottom: $gap;

  &--main {
    overflow-y: hidden;
  }

  .box {
    position: absolute;
    user-select: none;
    width: 240px;
    height: 240px;
    overflow-y: scroll;
  }
}
