.can-grab {
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-loading.is-loading.is-loading {
  transform: translateY(0);
}

.is-centered.is-centered.is-centered {
  display: flex;
  justify-content: center;

  @media (max-width: $mobile) {
    .button {
      width: 320px;
    }
  }
}
