@import '~bulma/sass/utilities/initial-variables';

// Color Variables
$light-yellow: #fffeb7;

// Responsive Variables
$mobile: 576px;

// Navbar Customization
$navbar-height: 5rem;
$navbar-breakpoint: $mobile;

// Box Customization
$box-background-color: $light-yellow;
$box-shadow: 0 2px 4px rgba($yellow, 0.5), 0 1px 1px 1px rgba($yellow, 0.5);
